@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration:none;
}


.home img{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    
}
.form-block{
    right: 50%;
  
}
form{
    position: relative;
    top: 150px;
    left: 25%;
}

.form-block .main-form input{
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}
.radio{
    left: 40%;
}

.button-block{
    position: relative;
    right:15%;
}

.button-block button{
    margin-left:50px;

}