@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration:none;
}

header{
    position: fixed;
    top: 0;left: 0;
    right: 0; background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 5%;
}

header img{
    width: 70px;
}
header nav{
    margin-right: 150px;
}

 header nav a{
    color: #fff;
    font-size: 20px;
    margin: 0 .8rem;
 }

 .home img{
     width: 100%;
     height: 100vh;
 }